    <section class="banner">
      <div class="container">
        <h1 class="text-center pt-5">Nossas seções</h1>
      </div>
    </section>
    <section class="sobre-nos margin-padrao" id="sobre-nos">
      <div class="container">
        <div class="row card-sobre-esquerda p-0">
          <div class="col-6 section-sobre-img p-0">
            <img src="/img/secao-sobre.jpg" alt="Comida" />
          </div>
          <div
            class="col-6 d-grid align-content-center align-items-center text-lg-start text-center p-lg-5 p-4"
          >
            <h1 class="text-center pb-3">Sobre nós</h1>
            <p>
              Bem-vindo(a) ao iFit, a plataforma de delivery de comida fitness e
              saudável que oferece praticidade e qualidade para sua alimentação.
              Nossa empresa foi fundada com o objetivo de atender pessoas que
              desejam uma alimentação mais saudável, sem abrir mão do sabor.
              Trabalhamos com os melhores prestadores de serviço para oferecer
              opções deliciosas e nutritivas em sua casa ou trabalho.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="area-consumidor margin-padrao" id="area-consumidor">
      <div class="container">
        <div class="row card-sobre-direita p-0">
          <div
            class="col-6 d-grid align-content-center align-items-center text-lg-start text-center p-lg-5 p-4"
          >
            <h1 class="text-center pb-3">Consumidores</h1>
            <p>
              No iFit, nossa missão é fornecer refeições deliciosas e saudáveis
              para que você possa desfrutar de uma alimentação balanceada sem
              esforço. Nós nos preocupamos com a qualidade dos alimentos que
              oferecemos e trabalhamos com os melhores prestadores de serviço
              para garantir que nossos clientes tenham sempre as melhores
              opções. Além disso, nosso aplicativo é fácil de usar e intuitivo,
              permitindo que você faça seu pedido em apenas alguns cliques.
            </p>
          </div>
          <div class="col-6 section-sobre-img p-0">
            <img src="/img/secao-sobre2.jpg" alt="Comida" />
          </div>
        </div>
      </div>
    </section>
    <section class="area-prestador margin-padrao" id="area-prestador">
      <div class="container">
        <div class="row card-sobre-esquerda p-0">
          <div class="col-6 section-sobre-img p-0">
            <img src="/img/secao-sobre3.jpg" alt="Comida" />
          </div>
          <div
            class="col-6 d-grid align-content-center align-items-center text-lg-start text-center p-lg-5 p-4"
          >
            <h1 class="text-center pb-3">Prestador de serviço</h1>
            <p>
              Se você é um chef, restaurante ou empresa de alimentação saudável,
              o iFit é a plataforma ideal para você oferecer suas refeições para
              uma ampla base de consumidores. Ao se cadastrar em nossa
              plataforma, você terá a oportunidade de ampliar seus negócios e
              aumentar sua visibilidade no mercado.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="restaurantes margin-padrao">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center pb-5">
            <h1>Nossos melhores restaurantes</h1>
          </div>
          <div class="col-12 restaurantes-carrosel d-flex">
            <div class="col-1 restaurantes-carrosel-button">
              <button class="banner-slider__nav--prev">
                <img
                  src="/img/icons/seta-esquerda.svg"
                  alt="Seta esquerda"
                  height="20px"
                />
              </button>
            </div>
            <div class="col-10 case-multiple-cards">
              <div class="col-2 cases-card">
                <div class="cases-card-body text-center">
                  <p>Restaurante</p>
                  <div class="pt-3 d-flex justify-content-center">
                    <img
                      src="/img/clique.png"
                      alt="Logo Restaurante"
                      width="140px"
                    />
                  </div>
                </div>
              </div>
              <div class="col-2 cases-card">
                <div class="cases-card-body text-center">
                  <p>Restaurante</p>
                  <div class="pt-3 d-flex justify-content-center">
                    <img
                      src="/img/clique.png"
                      alt="Logo Restaurante"
                      width="140px"
                    />
                  </div>
                </div>
              </div>
              <div class="col-2 cases-card">
                <div class="cases-card-body text-center">
                  <p>Restaurante</p>
                  <div class="pt-3 d-flex justify-content-center">
                    <img
                      src="/img/clique.png"
                      alt="Logo Restaurante"
                      width="140px"
                    />
                  </div>
                </div>
              </div>
              <div class="col-2 cases-card">
                <div class="cases-card-body text-center">
                  <p>Restaurante</p>
                  <div class="pt-3 d-flex justify-content-center">
                    <img
                      src="/img/clique.png"
                      alt="Logo Restaurante"
                      width="140px"
                    />
                  </div>
                </div>
              </div>
              <div class="col-2 cases-card">
                <div class="cases-card-body text-center">
                  <p>Restaurante</p>
                  <div class="pt-3 d-flex justify-content-center">
                    <img
                      src="/img/clique.png"
                      alt="Logo Restaurante"
                      width="140px"
                    />
                  </div>
                </div>
              </div>
              <div class="col-2 cases-card">
                <div class="cases-card-body text-center">
                  <p>Restaurante</p>
                  <div class="pt-3 d-flex justify-content-center">
                    <img
                      src="/img/clique.png"
                      alt="Logo Restaurante"
                      width="140px"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-1 restaurantes-carrosel-button">
              <button class="banner-slider__nav--next">
                <img
                  src="/img/icons/seta-direita.svg"
                  alt="Seta esquerda"
                  height="20px"
                />
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="bg-light margin-padrao">
      <div class="container">
        <div class="row">
          <div class="col-md-12 d-flex justify-content-center pt-5">
            <img
              src="/img/clique.png"
              alt="Logo da iFit"
              class="img-fluid"
              width="200px"
            />
          </div>
        </div>