* {
  font-family: 'Lato', sans-serif;
  --titulo-secao: #dc7860;
  --texto-secao: #506959;
}

.header {
  background: #506959 !important;
}

.banner img {
  max-height: 500px;
  object-fit: cover;
}

header a {
  text-decoration: none;
  color: black;
}

section p {
  color: var(--texto-secao);
}

.nav-link {
  text-decoration: none;
  color: black;
}

button {
  background-color: #506959 !important;
  color: #ffffff;

  text-transform: uppercase;
  border: none !important;
}

.margin-padrao {
  margin-top: 5rem;
}

section h1 {
  color: var(--titulo-secao);
}

.header--active {
  transition: 0.3s ease-in-out;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 50;
  -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.25);
  z-index: 99999;
}

/* ##################### FIM DOS ESTILOS PADRÕES */

/* ##################### ÍNICIO ESTILOS DA SEÇÃO SOBRE */
.card-sobre-esquerda {
  box-shadow: 0px 0px 9px 0px rgb(0 0 0 / 10%);
  border-radius: 22px;
}

.card-sobre-esquerda img {
  border-radius: 22px 0px 0px 22px;
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.card-sobre-direita {
  box-shadow: 0px 0px 9px 0px rgb(0 0 0 / 10%);
  border-radius: 22px;
}

.card-sobre-direita img {
  border-radius: 0px 22px 22px 0px;
  width: 100%;
  height: 350px;
  object-fit: cover;
}
/* ##################### FIM ESTILOS DA SEÇÃO SOBRE */

section.restaurantes button {
  background-color: transparent !important;
  border: none;
}

/* ##################### INICIO ESTILOS DA PÁGINA CONSUMIDOR */
.tabsUl {
  list-style: none;
}

.tabsUl a {
  text-decoration: none;
  color: black;
}

/* LOGO */

.btn.btn-light {
  font-size: 43px;
  border: 1px solid transparent;
  border-radius: 0;
  outline: none;
}
.btn.btn-light:hover {
  background-color: initial;
}
